<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="elk.reasoner.factory" point="org.protege.editor.owl.inference_reasonerfactory">
		<name value="ELK ${project.version}"/>
		<class value="org.semanticweb.wolpertinger.protege.ProtegeReasonerFactory"/>
	</extension>
</plugin>
